@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italicitalic,300,600);

body {
    margin: 0;
    background: white;
    font-size: 100%;
    line-height: 160%;
    color: #5f626f;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 200
}
b,
strong,
th,
label {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 600
}
p {
    padding: 8px 0;
    margin: 0;
    font-weight: 200
}
.block {
    padding: 20px 20px 60px 20px
}
.grey-lighter {
    background: #f2f3f4;
    color: #474a54
}
.wrap {
    max-width: 1220px;
    margin: 0 auto
}
    .block {
        padding: 40px 40px 80px
    }
    .thirty,
    .fourty,
    .fifty,
    .sixty,
    .seventy {
        float: left;
        padding: 10px 3% 10px 0
    }
    .thirty {
        width: 27%
    }
.clear {
    clear: both
}
.results {
    background: white;
    padding: 10px 20px;
    margin-top: -5px;
    overflow: auto
}

input[type=text] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    font-size: 140%;
    border: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 200
}
